.ImagePreviewBox {
    position: relative;
}

body {
    height: initial;
}

body.bg-white {
    padding: 0 10px;
}

.ImagePreviewBox,
.ImagePreviewBox img {
    width: 100%;
    height: 100px;
}

.label-danger {
    background: #ff5b57 !important;
}

.label-warning {
    background: #f59c1a !important;
}

.label-yellow {
    color: #2d353c;
    background: #ffd900 !important;
}

.label-lime {
    background: #90ca4b !important;
}

.label-green {
    background: #32a932 !important;
}

.label-success {
    background: #00acac !important;
}

.label-purple {
    background: #727cb6 !important;
}

.label-indigo {
    background: #8753de !important;
}

.label-dark {
    background: #2d353c !important;
}

.label-pink {
    background: #fb5597 !important;
}

.label-secondary {
    background: #6c757d !important;
}

.label-default {
    background: #e4e7ea !important;
    color: #2d353c !important;
}

.login-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-v2 {
    background: rgba(42, 42, 42, 0.6);
    margin: initial !important;
}

.login-cover-bg {
    background: radial-gradient(ellipse at center, #607f9e 0, #348fe2 100%);
}

.login-header {
    padding: 0 !important;
}

.login-header .icon {
    left: 0;
    font-size: 44px;
}

.login-header .brand h1 {
    font-weight: bold;
    color: #fff;
    margin: 0 ;
    font-size: 24px;
    display: block;
    line-height: 1.5;
}

.login-header .brand small {
    font-size: 12px !important;
}

.login .login-header {
    top: -60px;
}

.login .login-header .icon i {
    font-size: 40px;
}

.logo-img-box {
    width: 70px;
    height: 60px;
    background-color: #0f233b;
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.logo-img-box img {
    width: 100%;
    height: 100%;
}

.login .login-content {
    color: #fff;
}
.login-page-container .login-v2 .login-content {
    padding: 30px 30px 15px;
}
.login-page-container .select2-selection{
    background-color: transparent;
    border: none;
    color: #fff;
}
.login-page-container .select2-container--default
.select2-selection--single .select2-selection__rendered,.form-group.genderback{
    background: rgba(0,0,0,.4);
    border: none;
    color: #fff;
}
.login-page-container .form-group.genderback{
    height: 40px;
    border-radius: 3px;
    padding: 10px;
}
.login-content .btn {
    font-weight: bold;
    font-size: 14px;
}
.login-page-container hr{
    margin-top: 10px;
    margin-bottom: 5px;
}
@media (max-width: 567px) {
    .login-v2 .login-content {
        padding: 20px;
    }
}

footer {
    font-size: 14px;
}

footer .company-name {
    font-weight: bold;
    font-size: 18px;
    color: #348fe2 !important;
}

.deletePhoto {
    position: absolute;
    top: 0;
    right: 0;
}

.show-on-phones-only {
    display: none;
}

.btn-40 {
    height: 40px;
}

#header .header-box {
    display: flex;
    align-items: center;
}

.navbar-header ul.navbar-nav {
    display: none;
}

.multiFiles .table-hover td a svg{
    color: #fff !important;
}

@media (max-width: 567px) {
    #header .header-box {
        display: block;
        padding: 0 10px;
    }

    .navbar-nav .open .dropdown-menu {
        min-width: 100px;
    }

    .navbar-header {
        display: flex;
        align-items: center;
    }

    .navbar-header .navbar-brand {
        flex-shrink: 0;
    }

    .navbar-header .navbar-nav {
        list-style: none;
        display: flex !important;
    }

    .navbar-header ul li .dropdown-toggle {
        line-height: initial !important;
        padding: 0 !important;
    }

    .navbar-header ul li a .name {
        color: #fff !important;
    }

    .header-box .user-box .navbar-nav .navbar-language {
        display: none
    }

    .fadeInRight {
        padding-top: 0;
    }

    .fadeInRight li a {
        display: inline-block;
        padding: 5px !important;
    }
}

.form-control {
    height: 40px;
}

@media (max-width: 767px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-form .form-control,
    .navbar-form .form-control:focus {
        margin: 0;
        width: 180px !important;
        -webkit-animation: none !important;
        animation: none !important;
    }


    .navbar-nav > li > a {
        line-height: 20px;
        padding: 17px 10px;
    }

    .page-header {
        margin-top: 25px;
    }
}

@media (max-width: 425px) {
    .navbar-nav.navbar-right .navbar-user .navbar-language .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar-nav.navbar-right .navbar-user .dropdown-menu {
        right: auto;
        left: 0;
    }

    div.input-group.input-daterange {
        display: block !important;
    }

    div.input-group.input-daterange > span.input-group-addon {
        margin: 2px 0;
        display: table;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .navbar-nav.navbar-right .navbar-user .navbar-language .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar-nav.navbar-right .navbar-user .dropdown-menu {
        right: auto;
        left: 0;
    }
}

@media (max-width: 1200px) {
    .smaller-than-1280-full {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .files audio,
    .files video {
        max-width: 144px !important;
    }
}

@media (max-width: 480px) {
    .hide-on-phones {
        display: none !important;
    }

    .show-on-phones-only {
        display: block !important;
    }
}

.no-margin {
    margin: 0;
}

.register.register-with-news-feed .register-header {
    padding: 30px 60px 0;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 22px !important;
}

.rtl .form-group {
    text-align: right;
}

.display-flex {
    display: flex;
    float: left;
    margin: 0;
    width: 100%;
}

.align-center {
    height: 40px;
    display: flex !important;
    align-items: center;
}

.sidebar .nav > li.nav-profile .image img {
    max-width: none !important;
    max-height: 100%;
}

.sidebar .sub-menu > li > a::before {
    content: initial;
}

#translations-menu {
    display: inline-flex;
    position: absolute;
    left: 10px;
}

.help-block {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 9px;
}

.help-block strong {
    font-size: 9px;
    font-weight: 500;
}

/*=======================================================================================*/
/*-- Start a3med saad edits --*/
.page-header small {
    font-size: 60%;
    color: #7a7a7a;
    font-weight: bold;
}

.img-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 5px;
    background-color: #333;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}

.show-my-store {
    color: #fff;
    font-size: 11px;
    float: right;
}

.show-my-store svg {
    margin: 0 5px;
    font-size: 14px;
}


.show-my-store a {
    border: 1px solid #a8acb1;
    height: 35px;
    padding: 0 5px 0 10px !important;
    display: flex !important;
    align-items: center;
    color: #a8acb1;
    border-radius: 4px;
    opacity: 1 !important;
    font-weight: bold;
}

.show-my-store a:hover {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #fff;
    opacity: 1 !important;
}

.show-my-store a:hover svg {
    color: #333;
}

#header .user-box .dropdown-menu a {
    padding: 7px 10px;
    color: #4c4c4c
}

#header .user-box .navbar-user .dropdown-menu a svg {
    font-size: 12px;
    color: #4c4c4c
}

#header .user-box .navbar-user .dropdown-menu .divider {
    margin: 2px 0 0 0;
}

@media (max-width: 567px) {
    .navbar-nav {
        width: 100%;
    }

    body.rtl .navbar-right li {
        float: left;
    }

    .show-my-store {
        font-size: 9px;
        display: none !important;
    }

    .show-my-store svg {
        margin: 0 3px;
        font-size: 10px;
    }

    .show-my-store a {
        padding: 0 4px 0 6px !important;
    }

    #header .col-xs-12 {
        width: 84%;
        padding: 0 10px 0 0;
    }

    #header .user-box {
        width: 16% !important;
        padding: 5px;
    }

    #header .user-box .navbar-nav {
        display: block;
    }

    #header .user-box .navbar-user .dropdown-toggle {
        padding: 9px 5px;
    }

    #header .user-box .navbar-user .dropdown-menu {
        top: 110%;
        padding: 0 !important;
    }

    #header .user-box .navbar-user .dropdown-menu a {
        padding: 5px 10px;
    }

    #header .header-box .head-search .form-control {
        height: 35px !important;
    }

    #header .header-box .head-search .btn.btn-info {
        height: 35px !important;
    }

}

.sidebar .nav > li > a {
    padding: 12px 10px;
    font-size: 16px;
}

.sidebar .nav > li > a svg {
    font-size: 20px;
    width: 35px;
}

.sidebar-minify-btn svg {
    transform: rotate(180deg)
}

.sidebar .nav > li.nav-profile {
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar .nav > li.nav-profile .image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.sidebar .nav > li.nav-profile a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
}

.sidebar .nav > li.nav-profile a img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.sidebar .nav > li.nav-profile .info {
    font-size: 14px;
}

.sidebar .nav > li.nav-profile .info a {
    font-size: 16px;
    font-weight: bold;
    max-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    display: block;
}

#sidebar .has-sub .sub-menu li a svg {
    width: 18px !important;
}

.page-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 567px) {
    .page-header {
        padding: 0 10px;
    }
}

.widget-stats .stats-info h4 {
    font-size: 16px;
}

.widget-stats .stats-info p {
    font-weight: bold;
}

@media (max-width: 567px) {
    body.rtl .widget .stats-icon {
        font-size: 35px;
        height: 50px;
        width: 50px;
        line-height: 70px;
    }
}

.panel-title .label {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.panel-title .label span {
    margin: 0 3px;
}

.panel-title .label svg {
    display: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.table > tbody > tr > td {
    font-size: 13px;
}

.table > thead:first-child > tr:first-child > th {
    font-size: 13px;
    font-weight: bold;
}

thead tr th {
    padding: 10px 5px;
    height: 50px;
    background-color: #f6f6f6;
}

tbody .gradeX tr {
    padding: 4px;
}

tbody .gradeX:hover {
    background-color: #ebf8ff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-color: #e9eef2;
    padding: 5px;
}

.table > tbody > tr > td a,
.table > tbody > tr > th a,
.table > tfoot > tr > td a,
.table > tfoot > tr > th a,
.table > thead > tr > td,
.table > thead > tr > th a {
    text-decoration: none;
    color: #337ab7;
    font-weight: bold;
}

a:focus,
a:hover {
    color: #337ab7;
    text-decoration: none;
}

.taxonomy-column a {
    display: block;
    margin-bottom: 7px;
}

.small,
small {
    font-size: 70%;
}

.item-pin .pin_btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #d9e0e7;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item-pin .pin_btn svg{
    font-size: 12px;
    color: #5c5a5b;
}

.pinned{
    background-color: #348fe2 !important;
    color: #fff !important;
    cursor: pointer;
}
.pinned svg
{
    color: #fff !important;
}
.pinned,
.pin_btn.active,
.pin_btn:active,
.pin_btn:hover {
    background-color: #348fe2;
    color: #fff;
    cursor: pointer;
}
.pin_btn:active svg,
.pinned:active svg,
.pin_btn:hover svg
{
    color: #fff;
}

.img-box {
    font-size: 10px;
    overflow: hidden;
}

.table > tbody > tr > td .img-box,
.table > tbody > tr > th .img-box,
.table > tfoot > tr > td .img-box,
.table > tfoot > tr > th .img-box,
.table > thead > tr > td .img-box,
.table > thead > tr > th .img-box {
    width: 80px;
    height: 65px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
}

.table > tbody > tr > td .img-box img,
.table > tbody > tr > th .img-box img,
.table > tfoot > tr > td .img-box img,
.table > tfoot > tr > th .img-box img,
.table > thead > tr > td .img-box img,
.table > thead > tr > th .img-box img {
    width: 100%;
    height: 100%;
}

.table > tbody > tr > td .label,
.table > tbody > tr > th .label,
.table > tfoot > tr > td .label,
.table > tfoot > tr > th .label,
.table > thead > tr > td .label,
.table > thead > tr > th .label {
    font-size: 80%;
    margin: 2px 1px;
    padding: 5px 8px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

.branches {
    background-color: #eff8ffc7;
}

.branches .img-box {
    width: 50px !important;
    height: 40px !important;
    margin-left: 0 !important;
}

.branches a {
    font-weight: 500 !important;
}

.nested-sortable .fa-arrows-alt {
    font-size: 20px;
}

.nested-sortable .branches .fa-arrows-alt {
    font-size: 16px;
}

.move-icon img {
    width: 16px;
    cursor: pointer;
}

.width-35 {
    width: 25px !important;
}

.taxonomy-column .label {
    background-color: #d9e0e7;
    display: inline-flex;
    color: #514f4f;
}

.taxonomy-column .label-info[href]:focus, .taxonomy-column .label-info[href]:hover {
    background-color: #348fe2;
}

.panel-inverse > .panel-heading {
    width: 100%;
    margin: auto;
    min-height: 45px;
    position: relative;
}

@media (max-width: 567px) {
    .panel-inverse > .panel-heading h4 {
        color: #fff !important;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #7f9fb9 !important;
    }

    .panel-body {
        overflow: auto;
    }

    .panel-body .table {
        width: max-content;
        max-width: max-content;
    }

    .panel-body .table .product-tit-column {
        width: 280px;
        display: inline-block;
        border-bottom: none;
    }

    .panel-body .table .product-tit-column a:first-of-type {
        width: 280px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .panel-body .table .product-order-title {
        width: 280px;
        border-bottom: none;
        height: 65px;
        display: inline-flex;
        align-items: center;
    }

    .panel-body .table .product-order-title a:first-of-type {
        width: 280px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    .table > tbody > tr > td {
        font-size: 12px;
    }

    .table > thead:first-child > tr:first-child > th {
        font-size: 10px;
    }

    .table > tbody > tr > td .img-box,
    .table > tbody > tr > th .img-box,
    .table > tfoot > tr > td .img-box,
    .table > tfoot > tr > th .img-box,
    .table > thead > tr > td .img-box,
    .table > thead > tr > th .img-box {
        width: 65px;
        height: 55px;
    }

    .table thead tr .product-title-status,
    .table thead tr .product-title-quantity {
        width: 60px !important;
    }

    .table thead tr .product-title-control {
        width: 180px !important;
    }

    .gradeX .btn-group-sm > .btn, .gradeX .btn-sm {
        padding: 5px 6px !important;
        font-size: 10px !important;
        line-height: 1 !important;
    }
}
@media (max-width: 1024px) {
    .panel-body .table {
        width: max-content;
        max-width: max-content;
    }
}

@media (max-width: 1365px) {
    .table > thead > tr > th {
        border-bottom: 2px solid #7f9fb9 !important;
    }

    .panel-body {
        overflow: auto;
    }

    .panel-body .table .product-tit-column {
        width: 280px;
        display: inline-block;
        border-bottom: none;
    }

    .panel-body .table .product-tit-column a:first-of-type {
        width: 280px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .panel-body .table .product-order-title {
        width: 280px;
        border-bottom: none;
        height: 65px;
        display: inline-flex;
        align-items: center;
    }

    .panel-body .table .product-order-title a:first-of-type {
        width: 280px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    .table > tbody > tr > td {
        font-size: 12px;
    }

    .table > thead:first-child > tr:first-child > th {
        font-size: 10px;
    }

    .table > tbody > tr > td .img-box,
    .table > tbody > tr > th .img-box,
    .table > tfoot > tr > td .img-box,
    .table > tfoot > tr > th .img-box,
    .table > thead > tr > td .img-box,
    .table > thead > tr > th .img-box {
        width: 65px;
        height: 55px;
    }

    .table thead tr .product-title-status,
    .table thead tr .product-title-quantity {
        width: 60px !important;
    }

    .table thead tr .product-title-control {
        width: 180px !important;
    }

    .gradeX .btn-group-sm > .btn, .gradeX .btn-sm {
        padding: 5px 6px !important;
        font-size: 10px !important;
        line-height: 1 !important;
    }
}

.btn.btn-info {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

.label-primary {
    margin: 0 2px;
}

.create-panel {
    background-color: transparent;
}

.heading-create {
    background: #242a30 !important;
    color: #fff;
    margin-bottom: 10px;
}

.create-panel .heading-create h4 {
    color: #fff !important;
}

.create-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.panel-heading {
    background: #fafafa;
    display: flex;
    align-items: center;
    position: relative;
}

.panel-heading h4 {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    align-items: center;
}

.panel-title h4 {
    color: #fff;
    width: 100%;
}

.panel-heading h4 a {
    color: #348fe2;
}

.panel-heading h4 .label-primary {
    color: #fff;
}

.panel-heading h4 a svg {
    color: #348fe2;
    margin: 3px;
}

.accordion-toggle h4 a svg {
    color: #348fe2;
    margin: 3px;
}

.create-panel .panel-heading h4 {
    width: 100%;
}

.panel-heading h4 label {
    font-size: 11px;
    color: #798b94;
    display: block;
    width: 95%;
}

.note-toolbar {
    display: inline-block !important;
}

@media (max-width: 567px) {
    .panel-heading {
        display: block;
    }

    .panel-heading h4 label {
        font-size: 9px;
    }


    .note-toolbar .note-style {
        margin: 4px;
    }
}

.rtl .note {
    border-right: 3px solid;
    border-left: initial;
}

.note h4 {
    font-weight: bold;
}

.panel-heading h4 label svg {
    margin: 5px;
}

.input-container {
    background-color: #fff;
    margin: 5px 0;
    padding: 25px 25px 25px 0;
}

@media (max-width: 767px) {
    .input-container {
        padding: 5px;
    }
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-inline-flex {
    display: inline-flex;
!important;
    align-items: center;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.select2-container {
    width: 100% !important;
}

.panel-title .accordion-toggle {
    padding: 10px;
}

.form-horizontal .checkbox,
.form-horizontal .radio {
    display: inline-flex;
    margin-right: 10px;
    align-items: center;
}

.btn-add {
    height: 42px;
    font-size: 15px;
    padding: 0 25px;
    margin: 0 5px;
    font-weight: bold !important;
}

textarea.form-control {
    min-height: 80px;
    max-height: 250px !important;
    max-width: 100%;
    min-width: 70%;
}

/*-- End a3med saad edits --*/
.c-profile {
    padding: 5px 0 0;
    margin-bottom: 10px;
}

.c-profile .upload-area {
    display: block;
    text-align: center;
    width: 140px;
    height: 140px;
}

.c-profile .upload-area .img-box {
    width: 100%;
    height: 100%;
    border: 1px solid #eee !important;
    cursor: pointer;
}

.c-profile .profile-pic {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
}

.c-profile .file-upload {
    display: none;
}

.panel-body .input-group .lang-label {
    position: absolute;
    left: 0;
    top: -20px;
    height: 20px;
    font-size: 8px;
    font-weight: bold;
    background-color: #d9e0e7;
    color: #514f4f;
    border: none;
    margin-right: 0;
    border-radius: 0 !important;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.translation-ar .input-group {
    width: 100%;
    position: relative;
}

/* ####################################################### */
.c-product,
.c-adverts {
    min-height: 100px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.c-product .upload-area {
    display: block;
    text-align: center;
    width: 328px;
    margin: auto;

}

.c-adverts .upload-area {
    display: block;
    text-align: center;
    min-width: 300px;
    max-width: 100%;
    margin: auto;
    position: relative;
}
.c-product .product-pic{
    width: 100%;
}
.c-product .product-pic,
.c-adverts .adverts-pic {
    display: block;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.c-adverts .adverts-pic {
    min-width: initial;
    max-height: initial;
    max-width: 100%;
    width: auto;
}

.advert_type_image .img-box {
    padding: 20px;
    background-color: #E9EEF1;
    width: 100%;
}

.c-product .file-upload,
.c-adverts .file-upload {
    display: none;
}


.advert_type_image .img-box {
    padding: 20px;
    background-color: #E9EEF1;
    width: 100%;
}

.c-product .file-upload,
.c-adverts .file-upload {
    display: none;
}


.c-option {
    height: 40px;
}

.c-option .upload-area {
    display: block;
    text-align: center;
    width: 55px;
    height: 40px;
    margin: auto;

}

.c-option .img-box {
    width: 55px;
    height: 40px;
}

.c-option .option-pic {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.c-option .file-upload {
    display: none;
}

.create-panel .img-box {
    overflow: hidden;
    width: 328px;
    max-height: 300px;
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.photo_description {
    width: 328px;
    margin: auto;
    border: 1px solid #e8edf0;
}


.c-category .upload-area {
    display: block;
    text-align: center;
    width: max-content;
    border: 1px solid rgb(218, 218, 218);
}

.c-category .category-pic {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
}

.c-category .file-upload {
    display: none;
}

.c-category .img-box {
    overflow: hidden;
    width: 200px;
    height: 120px;
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    margin: auto;
}


.c-logo .upload-area {
    display: block;
    text-align: center;
    width: 120px;
    height: 120px;
    border: 1px solid rgb(218, 218, 218);
}

.c-logo .logo-pic {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
}

.c-logo .file-upload {
    display: none;
}

.c-logo .img-box {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    margin: auto;
}

@media (max-width: 767px) {
    .c-logo .img-box {
        height: 100px;
    }
}

.c-cover .upload-area {
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
}

.c-cover .logo-pic {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
}

.c-cover .file-upload {
    display: none;
}

.c-cover .img-box {
    overflow: hidden;
    width: 100%;
    height: 150px;
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    margin: auto;
}

@media (max-width: 567px) {
    .c-product .upload-area {
        width: 100%;
    }

    .create-panel .img-box {
        width: 228px;
        height: 240px;
    }

    .photo_description {
        width: 228px;
    }
}

@media (max-width: 767px) {
    .c-cover .img-box {
        height: 120px;
    }
}

.img-box img {
    min-width: 100%;
    max-height: 100%;
}

.p-image {
    color: #666666;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.p-image svg {
    font-size: 1.6em;
    color: #444;
}

.create-panel h6 {
    color: #e3e3e3;
    background-color: #3847559e;
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 40px;
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.p-image:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.w-100 {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dropzone {
    min-height: 142px;
}

@media (max-width: 567px) {
    .dropzone {
        min-height: 150px;
    }

    .dropzone .dz-default.dz-message {
        width: 100% !important;
        height: 140px !important;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 10px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 10px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px;
}

input[type="email"].big-dog::-webkit-input-placeholder {
    font-size: 10px;
}

input::placeholder {
    font-size: 10px;
}

.panel-body {
    padding: 10px 5px;
}

.panel-body .form-group label.control-label {
    font-weight: bold;
}

.head-search .input-group-btn {
    width: 100%;
}

.header-box .head-search .form-control {
    border: none;
}

.header-box .head-search .input-group-btn .input-box {
    position: relative;
    width: 50%;
}

.header-box .head-search .input-group-btn .input-box .remove-filtration {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3px;
    margin: 0;
}

.header-box .head-search .input-group-btn .input-box .remove-filtration svg {
    font-size: 9px;
}

.head-search .form-control {
    height: 40px;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #e2e7eb;
}

.rtl .head-search .form-control {
    padding-left: 20px;
}

@media (max-width: 1024px) {
    .head-search .input-group-btn .input-box {
        width: 80%;
    }
}

@media (max-width: 567px) {
    .head-search {
        margin-top: 7px;
    }

    .head-search .input-group-btn .input-box {
        width: 100%;
    }
}

.head-search .input-group-btn .btn-option {
    height: 40px;
    width: 100px;
    border-radius: 0;
    border: none;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #d9e0e7;
    color: #514f4f;
    font-weight: bold;
}

@media (max-width: 567px) {
    .head-search .input-group-btn .btn-option {
        width: 70px;
        font-size: 8px;
        padding-right: 0;
    }
}

.head-search .input-group-btn select option:hover {
    background-color: #d9dfe4;
}

.head-search .input-group-btn .btn-option .caret {
    position: absolute;
    left: 10px;
}

.head-search .input-group-btn .dropdown-menu {
    min-width: 100px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
}

@media (max-width: 567px) {
    .control-discount .form-control {
        margin-left: 0 !important;
    }

    .form-control {
        width: 100%;
    }
}

.categories-panel .select2-dropdown {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}


.dropzone .dz-default.dz-message {
    background-position: center;
    position: initial;
    width: 100%;
    height: 130px;
    margin-left: 0;
    margin-top: 0;
    background-size: cover;
    top: initial;
    left: initial;
}

.advanced-options {
    background-color: transparent;
}

.advanced-options .options-heading,
.img-panel .options-heading {
    margin-bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.advanced-options .options-heading a {
    padding: 0 20px;
}

.advanced-options .options-heading a span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.advanced-options .panel-collapse {
    background-color: #fff;
}

.social-options .panel-collapse .form-group {
    display: flex;
}

.social-options .panel-collapse .form-group input {
    border: 1px solid #e3e3e3;
    border-right: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    padding: 5px 0 5px 11px;
    text-align: left;
    margin-left: 0 !important;
}

.social-options .panel-collapse .form-group input::-webkit-input-placeholder { /* Edge */
    text-align: right;
}

.social-options .panel-collapse .form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: right;
}

.social-options .panel-collapse .form-group input::placeholder {
    text-align: right;
}

.social-options .panel-collapse .icons-box {
    width: 34px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #e3e3e3;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.social-options .panel-collapse .form-control {
    height: 40px;
}

.social-options .panel-collapse .icons-box svg {
    font-size: 16px;
    color: #bebebe;
}

/*  ############################## start select2 ################################## */
.head-category-filter .select2-container {
    width: 40% !important;
}

.head-category-filter .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
}

.advanced-options .select2-container .select2-search {
    width: auto !important;
}

.advanced-options .select2-container .select2-search input {
    width: auto !important;
}

.advanced-options .select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-selection--multiple {
    height: initial !important;
    min-height: 42px;
    margin: 0;
    border-radius: 4px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    min-height: 40px;
}

.category-selection {
    margin-top: 25px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 6px;
    border: none;
}

.select2-selection__choice {
    height: 38px;
    background-color: #d9e0e7 !important;
    padding: 0 10px !important;
    color: #676767;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.multi-category .select2-selection__choice {
    background-color: #d9e0e7 !important;
    color: #676767;
    font-size: 11px;
    font-weight: bold;
}

.select2-selection__choice span {
    padding: 5px;
    font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #000 !important;
}

.category-selection .panel-collapse .panel-body .select2-container .select2-search--inline {
    display: inline-block;
    width: auto !important;
    min-width: 50px;
}

.select2-results__option {
    font-size: 12px;
    padding: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px !important;
}

.geo-input .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    min-height: 40px !important;
    border-color: #e2e7eb !important;
}

.geo-input .select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    min-height: 40px !important;
}

#tags .select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple {
    min-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    min-height: 40px !important;
}

.geo-input .select2-container--default .select2-selection--single .select2-selection__arrow {
    min-height: 40px !important;
}

.select2-results__option[aria-selected="true"] {
    background-color: rgba(3, 169, 244, 0.17) !important;
    color: #2c2c35;
}

.head-category-filter .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0 !important;
}

.advanced-options .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    min-height: 40px;
}

.advanced-options .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field {
    min-height: 40px;
}

@media (max-width: 567px) {
    .advanced-options .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        display: inline-block;
    }

    .advanced-options .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field {
        display: inline-block;
    }
}
.relevant-object .select2-selection__rendered{display: inline-block !important;}
.category-selection .panel-collapse .panel-body .control-label {
    font-weight: bold;
}

.control-discount {
    display: flex;
}

.control-discount .form-group {
    width: max-content;
}

.control-discount .form-group select {
    font-size: 10px;
    width: auto;
    padding: 3px 5px;
    margin-right: -5px;
}

.discount-remove {
    background-color: #565656e8;
    padding: 0 10px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 6px;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.discount-remove:hover {
    background-color: tomato;
}

.small-disc {
    font-weight: normal;
    margin: 5px;
    color: #858585;
    display: inline-block;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-group .input-group {
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.website-settings {
    padding: 0 20px;
}

.website-settings .form-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: relative;
}

/*
.website-settings .form-group::before {
    content: " ";
    right: 0;
    display: block;
    position: absolute;
    background-clip: content-box;
    width: 4px;
    height: 22px;
    background-color: #348fe2;
}
*/
.website-settings .form-group .control-label {
    font-weight: normal !important;
    margin-bottom: 0;
}

.website-settings .form-group .form-control {
    z-index: 5;
    border: 1px solid #eee;
    height: 40px;
    font-size: 11px;
    margin-left: -5px !important;
}

.website-settings .form-group textarea {
    min-height: 50px;
    height: max-content !important;

}

.website-settings .form-group .btn-info {
    height: 40px;
    padding: 0 15px 0 10px;
    font-weight: normal;
    font-size: 12px;
    background: #348fe2;
    border-color: #348fe2;
}

.website-settings .form-group .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.switchery {
    height: 20px;
    width: 40px;
}

.switchery > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
}

.color-select-container {
    justify-content: right;
}

.panel-body .form-group .color-select-container .color-select-option-selected, .panel-body .form-group .color-select-container .color-select-option-selected:hover {
    border: 3px solid #00B0FF !important;
}

@media (max-width: 567px) {
    .website-settings {
        padding: 0 10px !important;
    }

    .website-settings .form-group {
        display: inline;
        margin-left: -5px;
        width: 80%;
    }

    .color-select-container .color-select-option {
        height: 28px;
        width: 28px;
        margin: 4px;
    }

    .color-select-container .color-select-option:first-child {
        clear: right;
    }

    .color-select-container .color-select-option {
        float: right;
    }

    .website-settings .form-group .control-label {
        margin-bottom: 10px;
    }
}

.form-social {
    display: flex;
}

.form-social span {
    width: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 17px;
    border: 1px solid #ccd0d4;
    border-left: 0;
}

.form-social span i {
    color: #b3b3b3;
}

.form-social input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 36px;
    padding: 5px 0 5px 5px;
    text-align: left;
}

.order-data .form-group b {
    display: flex;
    align-items: center;
    color: #707070;
    font-weight: normal;
}

.order-data .form-group {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}

.order-data .form-group.d-flex {
    border-bottom: none;
}

.head-category-filter {
    margin: 0 0 0 0 !important;
    display: flex;
}

.head-category-filter .panel-body {
    padding: 7px;
}

.head-category-filter .select2-container--default .select2-selection--multiple {
    height: 50px !important;
    overflow-y: auto;
    display: flex;
    align-items: center;
}

.head-category-filter input {
    height: 50px;
    width: 53%;
}

.head-category-filter .btn-info {
    height: 50px;
    padding: 0 20px;
}

@media (max-width: 567px) {
    .head-category-filter input {
        height: 40px;
        width: 100%;
    }

    .head-category-filter .btn-info {
        height: 40px;
    }
}

.head-category-filter .select2-container {
    z-index: 10;
    width: 40% !important;
}

@media (max-width: 567px) {
    .head-category-filter input {
        height: 40px;
        width: 100%;
    }

    .head-category-filter .btn-info {
        height: 40px;
        padding: 0 10px;
    }

    .head-category-filter .select2-container {
        display: none;
    }
}

.head-category-filter .select2-container--default .select2-search--inline .select2-search__field {
    min-height: 30px;
}

.head-category-filter .select2-search .select2-search__field {
    display: contents;
}

.head-category-filter .select2-selection__choice {
    padding: 0 0 0 5px !important;
    margin: 2px !important;
    height: 22px !important;
    font-size: 10px;
}

.head-category-filter .select2-selection__choice span {
    padding: 3px 6px 3px 3px;
    font-size: 12px;
}

.label-filter {
    font-weight: bold;
    margin-bottom: 0;
}


@media (max-width: 567px) {
    .head-category-filter .d-flex {
        display: block;
    }

    .label-filter {
        margin-bottom: 5px;
    }

    .head-category-filter .btn-info {
        margin: 0 !important;
    }
}

.gradeX .btn-group-sm > .btn,
.gradeX .btn-sm {
    padding: 5px 8px;
    font-size: 10px;
    line-height: 1.6;
}

.gradeX .user-icon {
    font-size: 20px
}

.order-inner-list .gradeX {
    font-weight: bold;
}

.panel-customers tbody .gradeX td,
.panel-orders tbody .gradeX td,
.pages-panel tbody .gradeX td,
.panel-addition tbody .gradeX td {
    padding: 10px 5px
}

.panel-customers .form-group {
    margin-bottom: 8px;
}

.reports-row > [class^="col-"] {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.reports-row .reports-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    height: 150px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(223, 219, 242, .85);
    overflow: hidden;
}

.reports-row .reports-box h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.reports-row .reports-box .reports-disc {
    font-size: 12px;
    color: #3a4854;
    max-height: 38px;
    overflow: hidden;
}

.reports-row .reports-box .reports-button {
    background-color: #348fe2;
    height: 34px;
    padding: 0 11px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
}

.reports-row .reports-box .reports-button:hover {
    background-color: #0a6aa1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.reports-panel tbody tr td .label {
    background: #b9d5ee;
    color: #333;
    display: initial;
}

@media (max-width: 767px) {
    .reports-row .reports-box {
        height: 160px;
    }

    .reports-row .reports-box .reports-disc {
        font-size: 12px;
        max-height: 38px;
    }
}

.widget-stats .stats-link a {
    display: flex;
    align-items: center;
    position: relative;
}

.widget-stats .stats-link a svg {
    position: absolute;
    left: 10px;
}

.input-group-addon:first-child {
    border-left: 0;
    border-right: none;
}

.form-control[disabled],
.form-control[readonly] fieldset[disabled] .form-control {
    background: #f4f4f4;
    border: none;
    opacity: 1;
}

.btn.btn-info {
    color: #fff;
    background: #348fe2;
    border-color: #348fe2;
}

.customer-details .form-group {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.customer-details .form-group .img-box {
    width: 100px;
    height: 100px;
}

.customer-details .btn-add {
    border: 1px solid #348fe2;
    color: #348fe2;
    padding: 0 15px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
}

.customer-details .btn-add:hover {
    background-color: #348fe2;
    color: #fff;
}

.input-group-addon {
    padding: 0 10px;
    border: none !important;
}

.input-group-addon label {
    font-size: 10px;
}

.items-stats {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fff !important;
    background: #348fe2 !important;
}

.taxonomy-column {
    position: relative;
}

.icons-size svg {
    color: #77848e;
    font-size: 18px;
}

.icons-size .btn.dropdown-toggle {
    border: 1px solid #fff !important;
    padding: 6px 12px 4px;
}

.icons-size .btn:active,
.icons-size.btn-group.open .dropdown-toggle {
    box-shadow: none;
    border: 1px solid #77848e !important;
}

.icons-size .dropdown-menu {
    right: initial;
    left: 0;
    float: right;
    padding: 5px 10px;
    min-width: 170px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.icons-size .dropdown-menu li a {
    color: #444;
}

.icons-size .dropdown-menu li a,
.icons-size .dropdown-menu li button {
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    font-weight: normal;
    margin: 0 !important;
    background-color: transparent;
    color: #7b8791;
}

.icons-size .dropdown-menu li svg {
    font-size: 12px;
    color: #7b8791;
    margin-left: 5px;
}

.items-delete {
    color: #d9534f !important;
    border: none;
    background: transparent;
}

.items-delete svg {
    color: #cc4946 !important
}

.deletePhoto span {
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.deletePhoto span svg {
    font-size: 13px;
    color: #fff;
}

.deletePhoto .Remove-multiple-image {
    color: #fff;
    font-size: 13px;
    padding: 0;
}

.ImagePreviewBox, .ImagePreviewBox img {
    border: 1px solid #f4f4f4;
}


.filtration-panel {
    position: absolute;
    left: -375px;
    z-index: 1000;
    background: #fff;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(199, 199, 199, 0.65);
    -webkit-box-shadow: 2px 2px 4px rgba(199, 199, 199, 0.65);
    -moz-box-shadow: 2px 2px 4px rgba(199, 199, 199, 0.65);
    width: 350px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    transition: right .2s linear;
}

.filtration-panel .row {
    margin: 0;
}

.filtration-panel.active {
    left: 0;
}


.filtration-collapse-btn,
.remove-filtration {
    width: max-content;
    height: 40px;
    font-size: 12px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.filtration-collapse-btn {
    color: #fff;
    margin: 0 2px;
}

.filtration-collapse-btn:focus,
.filtration-collapse-btn:hover {
    color: #fff;
    text-decoration: none;
}

.remove-filtration {
    color: #ff4b45;
}

.remove-filtration:focus,
.remove-filtration:hover {
    color: #ff4b45;
    text-decoration: none;
}

.remove-out, .remove-filtration {
    background-color: #ff4b45;
    color: #fff !important;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    font-size: 10px;
    margin: 0 2px;
    flex-shrink: 0;
}


.filtration-panel-content .remove-filtration {
    position: absolute;
    font-size: 10px;
    margin: 0 5px;
    right: -10px;
    top: -10px;
    z-index: 20;
    flex-shrink: 0;
}

.filtration-collapse-btn svg {
    font-size: 10px;
}

.filtration-collapse-btn svg {
    margin: 0 2px;
}

.filtration-panel-content .remove-filtration svg {
    font-size: 10px;
}

@media (max-width: 567px) {
    .filtration-collapse-btn,
    .remove-filtration {
        font-size: 10px;
        margin: 0 4px;
    }

    .filtration-collapse-btn svg, .remove-filtration svg {
        font-size: 12px;
    }
}

.filtration-panel .category-filtration .filtration-panel-content {
    margin: -15px;
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 1020;
}

.filtration-panel-content .control-label {
    line-height: 15px;
    font-weight: bold !important;
}

.filtration-panel .filtration-panel-content .checkbox {
    margin-top: 5px;
    margin-bottom: 10px;
}

.filtration-panel .filtration-panel-content .checkbox label {
    padding-right: 25px;
    display: flex;
    align-items: center;
}

.filtration-panel .filtration-panel-content .checkbox label input {
    width: 18px;
    height: 18px;
    margin: 0 -25px 0 0;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: auto;
}

.filtration-panel .filtration-panel-content .form-control {
    height: 40px !important;
}

.category-filtration {
    margin: 0 0 0 0 !important;
    display: flex;
}

.category-filtration .panel-body {
    padding: 7px;
}

.category-filtration .select2-container--default .select2-selection--multiple {
    padding: 0 0 6px;
    display: flex;
    align-items: center;
    max-height: 165px;
    overflow: hidden;
}

.category-filtration input {
    height: 50px;
    width: 53%;
}

.category-filtration .btn-info {
    height: 50px;
    padding: 0 20px;
}

@media (max-width: 567px) {
    .category-filtration input {
        height: 40px;
        width: 100%;
    }

    .category-filtration .btn-info {
        height: 40px;
    }
}

.category-filtration .select2-container {
    z-index: 10;
    width: 100% !important;
}

@media (max-width: 567px) {
    .category-filtration input {
        height: 40px;
        width: 100%;
    }

    .category-filtration .btn-info {
        height: 40px;
        padding: 0 10px;
    }
}

.category-filtration .select2-container--default .select2-search--inline .select2-search__field {
    min-height: 30px;
    display: inline-flex;
}

.category-filtration .select2-search .select2-search__field {
    display: contents;
}

.category-filtration .select2-selection__choice {
    padding: 0 2px 0 6px !important;
    margin: 0 3px !important;
    height: 30px !important;
    font-size: 10px;
}

.category-filtration .select2-selection__choice span {
    padding: 3px 6px 3px 3px;
    font-size: 12px;
}


.position-relative {
    position: relative;
}

.justify-left {
    justify-content: left;
}

.d-none {
    display: none;
}

.btn-publish {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

.btn.btn-white {
    display: inline-flex;
    align-items: center;
    background-color: #737373;
    color: #fff;
}

.components-panel .components-box {
    background-color: #f5f7ff;
    padding: 20px 15px 15px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.components-panel .components-box:hover {
    box-shadow: 0 0 4px rgba(223, 219, 242, 0.85);
}

.components-panel .components-box a {
    text-decoration: none;
}

.components-panel .components-box a h3 {
    font-size: 16px;
    font-weight: bold;
    color: #348fe2;
    margin: 0 0 10px 0;
}

.components-panel .components-box a p {
    font-size: 12px;
    color: #5e5e5e;
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 1.6;
}

.components-panel .components-box a .content-box {
    display: flex;
}

.components-panel .components-box a .content-box svg,
.components-panel .components-box a .content-box i {
    font-size: 22px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.component-on {
    color: #0ea432;
}

.component-off {
    color: #bebebe;
}

.components-panel .components-box a .img-box {
    height: 75px;
    width: 75px;
    background-color: #fff;
    flex-shrink: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.components-panel .components-box a .img-box img {
    height: 100%;
    width: 100%;
}

.components-panel .components-box .btn-components {
    background-color: #348fe2;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 0 10px;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.components-panel .components-box .comments-label {
    height: 18px;
    color: #fff;
    font-weight: bold;
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    margin: 0;
    font-size: 10px;
}

.comments-input {
    display: block;
    text-align: center;
}

.comments-input input {
    height: 50px;
}

.comments-input button {
    height: 40px;
    padding: 0 20px;
    margin: 15px 0;
}

.comments-disc {
    width: 100%;
}

.comments-disc .img-box {
    width: 100%;
    min-height: 100px;

}

.comments-disc .img-box img {
    width: 100%;
    height: 100%;
}

.comments-disc h3 {
    font-size: 18px;
    font-weight: bold;
}

.comments-disc p {
    font-size: 14px;
    line-height: 1.8;
}

.comments-disc a {
    font-size: 12px;
    height: 34px;
    color: #348fe2;
    border: 1px solid #348fe2;
    padding: 0 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 4px;
}

.comments-disc a:hover {
    color: #fff;
    background-color: #348fe2;
}

.comments-checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.comments-checkbox .checkbox {
    margin: 0 10px;
}

.c-watermark .upload-area {
    display: block;
    text-align: center;
    width: 120px;
    border: 1px solid rgb(218, 218, 218);
}

.c-watermark .watermark-pic {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
}

.c-watermark .file-upload {
    display: none;
}

.c-watermark .img-box {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.collapse-checkbox {
    border-bottom: 1px solid #eee;
}

.navbar-user a svg {
    font-size: 16px;
    margin: 0 4px;
}

.navbar-user a span {
    font-size: 14px;
}

.navbar-user img {
    float: initial;
}

.categories-list {
    padding: 10px;
}

.categories-list li {
    padding: 10px 15px;
    background-color: #f2f6fa;
    margin-bottom: 10px;
    justify-content: space-between
}

.categories-list li svg {
    font-size: 20px;
}


.order-show .panel-heading {
    padding: 0;
    background-color: transparent;
    color: #0d71bb;
}

.order-show .panel-heading h4 {
    height: initial;
    font-size: 16px;
}

.order-show .panel-body {
    padding-top: 0;
}

.dropzone.dz-started .dz-message {
    display: inline;
}

.options-section {
    padding: 30px;
}

.options-section .inner-option {
    background-color: #eff7ff;
    display: inline-block;
    padding: 20px 30px;
}

.options-section .inner-option .form-group {
    overflow: hidden;
    border-radius: 7px;
}

.options-section .inner-option .form-group .d-flex {
    overflow: hidden;
    border-radius: 7px;
}

.option_value-container {
    border: 1px solid #ededed !important;
}

.options-section .inner-option input,
.options-section .inner-option .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border: none;
}

.option-type-price {
    position: relative;
}

.option-type-price:before {
    content: ' ';
    top: 10px;
    right: 0;
    display: block;
    position: absolute;
    background-clip: content-box;
    width: 2px;
    height: 20px;
    background: #d2d2d2;
}

.option-type-price:after {
    content: ' ';
    top: 10px;
    left: 0;
    display: block;
    position: absolute;
    background-clip: content-box;
    width: 2px;
    height: 20px;
    background: #d2d2d2;
}

.option_type_color {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#btn-option-colorpicker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333;
}

#btn-option-colorpicker .layout_default.picker_wrapper {
    width: 18em !important;
}

.picker_alpha .picker_selector {
    display: none;
}

/*.pace-done .select2-container .select2-dropdown .select2-search{
    display: none !important;
}*/

.btn-edit-option {
    background-color: #0d71bb;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    font-size: 12px;
}

.btn-edit-option:focus {
    background-color: #fff;
    color: #348fe2;
}

.btn-edit-option:hover {
    background-color: #fff;
    color: #348fe2;
}

.options-section .inner-option .colorpicker-component {
    width: initial !important;
}

.inner-option .btn-new-value {
    background-color: transparent;
    border: 2px solid #242a30;
    color: #242a30;
    font-weight: bold;
    font-size: 10px;
    border-radius: 7px;
    padding: 0 8px;
    height: 35px;
}

.inner-option .btn-save-value {
    background-color: #242a30;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 7px;
    width: calc(100% - 55px);
}

.btn-new-value:hover {
    color: #fff;
    background-color: #242a30;
}

.option-delete {
    background-color: transparent;
    color: #ff433e;
    width: 40px;
    height: 42px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
}

.option-delete svg {
    font-size: 14px;
}

.option-value-delete {
    color: #ff433e;
    width: 40px;
    height: 40px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    font-size: 16px;
}
tr td .custom-control.custom-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px 12px 3px;
}
tr div .custom-control-input{
    width: 20px;
    height: 20px;
}

#currentImages #collapse-current .multiFiles {
    max-height: 275px;
    overflow-x: hidden;
}
.display-flex-feild{
    display: flex;
}
.card-header{
    color: #fff;
}
.wiki-card{
    background-color: #fff;
    position: relative;
}
.wiki-card .card-box {
    width: 100%;
    height: 220px;
    background-color: #000;
}
.card-body{
    padding: 10px;
}
.card-title{
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    line-height: 1.3;
    font-weight: bold;
    font-size: 18px;
}
.card-text{
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    line-height: 1.4;
    font-size: 14px;
}
.global-link{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}